p {
	font-family: Arial;
	font-size: 12px;
	letter-spacing: 0.5em;
	text-align: justify;
}

.inferior {
	text-decoration: underline;
}

.superior {
	text-decoration: overline;
}

.centro {
	text-decoration: line-through;
}

.pisca {
	text-decoration: blink;
}